<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Math Club, Vellore Institute of Technology - Amaravati">
    <title>Attendance</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#343148">
        <a class="navbar-brand" href="#">Welcome {{dict.name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navB" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navB">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'eventRegister' %}">Event</a>
                </li>
                {% if dict.tackle %}
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'tackle' %}">Tackle</a>
                </li>
                {% endif %}
                {% if dict.type %}
                <li class="nav-item active pl-2 pr-2">
                    <a class="nav-link" href="{% url 'attendanceCheck' %}">Attendance</a>
                </li>
                {% endif %}
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                </li>
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron bg-white mt-5">
        <table class="table table-bordered table-hover table-responsive-sm">
            <thead class="thead-dark bg-dark text-white">
                <td><strong>Name</strong></td>
                <td><strong>Date</strong></td>
                <td><strong>Status</strong></td>
            </thead>
            <tbody>
                {%for row in data %}
                <tr>
                    {%for value in row %}
                    <td class="{{value}}">{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
