<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Math Club, Vellore Institute of Technology - Amaravati">
    <title>Profile</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#343148">
        <a class="navbar-brand" href="#">Welcome {{dict.name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navB" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navB">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'eventRegister' %}">Event</a>
                </li>
                {% if dict.tackle %}
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'tackle' %}">Tackle</a>
                </li>
                {% endif %}
                {% if dict.type %}
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'attendanceCheck' %}">Attendance</a>
                </li>
                {% endif %}
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
                </li>
                <li class="nav-item active pl-2 pr-2">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item pl-2 pr-2">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron m-auto col-xl-6 col-lg-6 col-md-12 col-sm-12 col--12" style="top: 100px;background-color: #f4f1ed">
        <form action="{% url 'profile' %}" method="post">
            {% csrf_token %}
            {% if success %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <span type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
                <strong>{{success}}</strong>
            </div>
            {% endif %}
            {% if warning.title %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <span type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
                <strong>{{warning.title}}</strong>{{warning.message}}
            </div>
            {% endif %}

            <fieldset class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" value="{{dict.name}}" name="name" maxlength="30" required>
            </fieldset>

            <fieldset class="form-group">
                <label for="regno">Registration Number</label>
                <input type="text" class="form-control" value="{{dict.regno}}" name="regno" maxlength="10" required>
            </fieldset>

            <fieldset class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="password" maxlength="10" required>
            </fieldset>

            <fieldset class="form-group">
                <label for="cpassword">Confirm password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" maxlength="10" required>
            </fieldset>

            <div style="text-align: center">
                <table class="table m-auto">
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Update Account</button></td>
                        {% if not dict.type %}
                        <td><a href="{% url 'delete' %}" class="btn btn-danger">Delete Account</a></td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </form>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
